[include mainsail.cfg]
[mcu]
# serial: /dev/serial/by-id/<your-mcu-id>
canbus_uuid: 394cca4d57a0

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 1000

[include autotune_tmc.cfg]

[include KAMP_Settings.cfg]

[exclude_object]
